<h1>Every Tags !</h1>

<ul id="tags">
	<li><%= link_to "Browse Article", articles_path %></li>
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag) %>  |  <%= link_to 'Delete', tag_path(tag), method: :delete %>
    </li>
  <% end %>
</ul>

