<%= content_tag :div, class: "temp_information", data: {temp: @background} do %>
<% end %>

<div id="container">
  <canvas width="1200" height="600" id="waldo-canvas"></canvas>
  <aside id="context-menu"></aside>
</div>